
html {
    height: 100%
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Gotham Light' !important;
    text-align: justify;
    color: #2e2e2e;
    height: 100%
}

strong {
    font-family: 'Gotham Bold';
}

p {
    color: #4c4c4c;
}

a {
    color: #1e79b7;
}

table {
    width: 100%;
    border: 1px solid #ddd;
}

td {
    font-size: 14px;
    padding: 5px 10px;
    text-align: left !important;
}

.tr-twitter p {
    color: #fff;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px;
}

.ml-15 {
    margin-left: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important
}

.pd-10 {
    padding: 10px;
    padding-top: 25px;
}

.bg-white {
    background: #fff;
}

.header-in-css {
    margin-top: 0px;
    background: #6e000014;
    padding: 15px;
    font-size: 28px;
    color: #6e0000;
    margin-bottom: 25px;
}

.main-wrapper {
    min-height: 100%;
    padding-bottom: 164px;
}

/*header*/

.tr-topbar {
    background-color: #144196
}

.top-header-index .navbar-brand {
    padding: 0;
    margin-top: 5px;
}

.topbar-bg-color-2 .breaking-news span {
    border-right-color: transparent;
    padding: 35px 20px;
}

.topbar-bg-color-2 .topbar-right {
    padding-bottom: 0;
    border-left-color: transparent;
}

/*.tr-topbar .navbar-brand{position:relative;display:inline-block;width:350px;height:70px}*/

.upcoming-events {
    line-height: 70px;
    padding: 0 20px 0 0 !important;
}

.logo {
    position: relative;
    width: 1000px;
    height: 64px;
    /* margin: 10px 5px; */
    margin-top: 10px;
    padding: 10px 0;
    /* background: url(../images/civil-logo-iit.png)no-repeat center; */
    /* background-size: cover; */
}

.tr-topbar {
    border-radius: 0;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 99999;
    /*overflow: hidden;*/
}

.topbar2 {
    padding: 5px 25px;
}

/*.topbar2{border-radius: 0;position: fixed;top: 0;left: 0;width: 100%;z-index: 9999;background: #144196;padding: 5px 15px;border-bottom: 5px solid #a9a9a991;}*/

.topbar2 .btn-webmail {
    background: #fff !important;
    width: auto;
    float: right;
    margin-bottom: 0px;
    color: #144196;
    font-size: 12px !important;
    padding-bottom: 10px !important;
}

.topbar2 .btn-webmail:hover,
.topbar2 .btn-webmail:focus,
.topbar2 .btn-webmail:visited {
    background: #fff !important;
    width: auto;
}

.lateral-padding {
    margin-top: 130px
}

.lateral-padding1 {
    margin-top: 90px
}

.btn-webmail {
    margin-top: 0 !important;
    margin-bottom: 10px;
    background-color: #144196 !important;
    border-color: #144196 !important;
    text-transform: uppercase;
    width: 100%;
    text-decoration: underline;
}

.btn-webmail:hover,
.btn-webmail:focus,
.btn-webmail:visited {
    background-color: #144196 !important;
    border-color: #144196 !important;
    width: 100%;
    text-decoration: underline;
}

/*header*/

.calendar_modal {
    margin: 90px auto 0;
}

.slider-style-three .item {
    min-height: 300px
}

.event-sidebar {
    list-style-type: none;
    padding-left: 0;
}

.event-sidebar h3 {
    background: #905306;
    color: #fff;
    padding: 10px;
}

.event-sidebar marquee {
    height: 150px;
    padding: 10px;
    border: 1px solid #aaa
}

.event-sidebar marquee a {
    position: relative;
    display: block;
    overflow: hidden;
}

#footer {
    margin-top: 108px;
}

.footer-bottom {
    background-color: #082c6f;
    padding: 10px 0 0 0;
}

.footer-logo {
    margin-bottom: 0
}

.footer-logo a {
    position: relative;
    display: block;
    overflow: hidden;
}

.footer-bottom,
.footer-bottom a,
.copyright,
.copyright a {
    color: #fff;
}

.footer-bottom a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-bottom address {
    margin-top: 20px;
}

.address-footer p label {
    margin-right: 5px;
}

.footer-map {
    width: 100% !important;
}

.footer-map iframe {
    height: 200px;
    border: none;
}

#footer-c {
    cursor: pointer;
    color: #fff;
    text-align: right;
    text-decoration: underline;
}

/* #footer{margin-bottom:20px} */

.whyus-list {
    padding-left: 20px !important;
    margin-bottom: 10px !important;
    font-size: 14px;
    color: #88898a;
    line-height: 24px;
}

.whyus-list .fa {
    margin-right: 10px;
}

.tr-breaking-news .gallery-turner {
    right: 20px;
    top: -3px;
    font-size: inherit;
}

.photo-gallery-three .item {
    margin-bottom: 20px;
}

.pic-gall .gallery-turner {
    top: -5px;
}

#photo-gallery img {
    height: 150px
}

.local-events .nav-tabs:after {
    display: none;
}

.tr-menu.sidebar-menu .navbar-default li {
    margin: 3px 0 !important;
}

.navbar-collapse .fa {
    position: absolute;
    top: 8px;
    left: 0;
    margin-right: 0
}

.navbar-collapse {
    padding: 0 7px;
}

.title-before:before {
    background-color: #144196 !important
}

.theiaStickySidebar .navbar-collapse ul li {
    position: relative;
    padding-left: 15px;
    overflow: hidden;
    text-align: left;
}

/* #navbar-collapse ul li a{line-height:20px;} */

.navbar-collapse ul li:hover .fa {
    color: #30393a;
}

.navbar-collapse {
    padding-left: 0;
}

.navbar-collapse ul.nav {
    padding-bottom: 0;
}

.sidebar-menu .navbar-header h1 {
    margin-bottom: 5px;
}

.tr-breaking-news .tr-post {
    margin-bottom: 0;
}

.tr-breaking-news .title {
    margin-bottom: 10px
}

.navbar .navbar-nav li a {
    color: #2e2e2e !important;
    font-weight: 400;
    text-transform: capitalize;
}

.tr-breaking-news {
    padding: 20px 0 20px 0 !important;
    margin: 15px;
    overflow: hidden;
}

.slider {
    padding: 0
}

.tr-breaking-news .entry-meta {
    margin-top: 0 !important;
}

.tr-breaking-news .post-content p {
    margin-bottom: 0px !important;
}

.tr-breaking-news .post-content {
    margin-bottom: 15px;
}

.tr-breaking-news .entry-title {
    font-size: 17px !important;
    margin-bottom: 0
}

.tr-breaking-news .title h1 {
    margin-bottom: 0
}

#ticker {
    padding: 0 !important;
    line-height: 70px
}

.topbar-right .user {
    line-height: 70px;
    padding: 0 20px 0 0;
    margin-top: 5px;
}

#ticker li:before {
    top: 50% !important;
    transform: translateY(-50%);
}

.days li {
    cursor: pointer
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    font-size: 12px;
}

.pignose-calendar {
    width: 100%
}

.pignose-calendar .pignose-calendar-body {
    padding: 0
}

.pignose-calendar .pignose-calendar-header {
    padding: 0
}

.pignose-calendar .pignose-calendar-unit {
    height: 40px;
}

.pignose-calendar .pignose-calendar-unit a {
    font-size: 14px;
}

.pignose-calendar .pignose-calendar-top {
    padding: 30px 0
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    padding: 10px 0
}

.body1 {
    display: block
}

#calendarContainer {
    margin: 0
}

.tr-twitter a:hover {
    color: #fff;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #30393a;
}

/*.gallery-turner a{display: inline-block !important;}*/

.user {
    margin-top: 7px;
}

.breaking-news>span {
    padding-bottom: 17px !important
}

.cust-font-style p {
    font-size: 14px;
    color: #88898a;
    line-height: 24px;
}

/*calender view*/

#calendarContainer {
    float: left;
    margin: 0px;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/*calender view*/

.academics h4 {
    border-bottom: 1px solid #ececec;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.academics h4:after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 25px;
    height: 1px;
    z-index: 1;
    background-color: #144196;
}

/*index 2*/

.index2 .navbar-collapse {
    margin-right: 28px;
    padding-top: 7px;
}

.index2 .tr-topbar .navbar-nav>li>a {
    padding: 0 8px;
    line-height: 60px;
    margin-left: 0px;
    font-size: 15px;
}

.index2 .tr-topbar .navbar-nav .sub-menu li a,
.sub-menu-2 li a {
    line-height: 20px;
    color: #000;
    text-align: left;
}

.index2 .tr-topbar .navbar-nav .sub-menu li:hover a,
.sub-menu-2 li a:hover {
    color: #000;
}

.index2 .tr-topbar .navbar-nav .sub-menu,
.sub-menu-2 {
    min-width: 180px;
    border-top-color: #191818;
    background-color: #fff;
}

.index2 .tr-topbar .nav>li>a:focus,
.index2 .nav>li>a:hover {
    background-color: transparent;
}

.index2 .tr-topbar .navbar-nav>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #fff;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

/*.index2 .tr-menu .sub-menu li a{line-height:20px !important}*/

.index2 .navbar-nav>li>a:hover:before,
.index2 .navbar-nav>li>a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-toggle .icon-bar {
    background-color: #fff
}

.theiaStickySidebar .navbar ul li a {
    padding: 6px 0;
    line-height: 20px;
}

/*index 2*/

/*index3*/

.index3 .topbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #30393a
}

.index3 .topbar .navbar-nav>li>a {
    color: #fff;
}

.index3 .topbar .navbar-nav>li>a:hover,
.index3 .topbar .navbar-nav>li>a:focus {
    background-color: transparent !important;
    color: #fff !important;
}

.index3 #myNavbar ul li a {
    line-height: 20px
}

.index3 .navbar-nav .sub-menu {
    padding: 0;
}

.index3 .navbar-nav .sub-menu li {
    display: block;
    margin-left: 0
}

.index3 .navbar-nav .sub-menu li:hover a {
    color: #333;
}

.index3 .topbar .navbar-nav>li>a:before,
.index3 .topbar .navbar-nav>li>a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
}

.index3 .logo {
    background: url(../images/civil-logo-iit2.png) no-repeat center;
}

.index3 #footer {
    margin-bottom: 0
}

.index3 .topbar .navbar-nav>li>a:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.index3 .topbar .navbar-nav>li>a:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.index3 .topbar .navbar-nav>li>a:hover:before,
.index3 .topbar .navbar-nav>li>a:hover:after,
.index3 .topbar .navbar-nav>li>a:focus:before,
.index3 .navbar-nav>li>a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.index3 .topbar .navbar-nav>li>a:hover:before,
.index3 .topbar .navbar-nav>li>a:focus:before {
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.index3 .topbar .navbar-nav>li>a:hover:after,
.index3 .topbar .navbar-nav>li>a:focus:after {
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*index3*/

/*mrinmayee.css*/

/*index2.php*/

.local-events h5 {
    color: #000;
}

.local-events p {
    color: #5c5c5c;
    padding-left: 20px;
}

.navbar-nav li.active {
    border-bottom: 5px solid #fff;
}

.fac-sec-div {
    height: 600px;
    overflow-y: scroll;
}

.sec-faculty {
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
}

.sec-faculty h1 {
    font-size: 20px;
    color: #313131;
}

.sec-faculty .section-title.title-before h1 {
    margin-bottom: 10px;
}

.sec-faculty .title-before:before {
    top: 3px;
}

.content-faculty h4 {
    font-size: 16px;
}

.sec-faculty .content-faculty h5 i,
.sec-faculty .content-faculty h4 i {
    width: 20px;
    height: 20px;
}

.sec-faculty .content-faculty h5 {
    color: #6b6b6b;
    font-weight: 300;
}

.sec-faculty .desc-faculty h5 {
    margin-bottom: 5px;
}

.mg-top-0 {
    margin-top: 0px;
}

.sec-faculty .desc-faculty p {
    font-size: 14px;
}

.mg-bottom-5 {
    margin-bottom: 5px;
}

.mg-top-5 {
    margin-top: 5px;
}

.fac-sidebar {
    padding: 15px 0px !important;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
}

.fac-sidebar ul li {
    padding: 10px 25px;
    text-align: left;
}

.fac-sidebar ul li a {
    color: #6b6b6b;
    font-size: 14px;
    line-height: 20px;
    padding-left: 8px;
}

.sidebar-academic .tab-link {
    position: relative;
}

.sidebar-academic .tab-link i {
    position: absolute;
    left: 16px;
    top: 14px;
}

.internal-div .tab-link {
    padding-left: 28px;
}

.internal-div ul li a {
    padding-left: 0px;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

.tab-link.current {
    background: #dcdcdc;
    border-left: 2px solid #144196;
}

.tab-link:hover {
    background: #dcdcdc;
    border-left: 2px solid #144196;
    cursor: pointer;
}

.tab-link.current a {
    color: #144196;
}

.pl-15 {
    padding-left: 15px;
}

.div-details .sec-faculty {
    box-shadow: none;
}

.div-details .fac-sec-div {
    background: #fff;
    height: auto;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
}

.div-details .content-faculty {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.pt-25 {
    padding-top: 25px;
}

/*
 *  STYLE 3
 */

.scrollbar {
    float: left;
    height: 520px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-css::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollbar-css::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.scrollbar-css::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
}

.img-wrap {
    height: 150px;
    margin-bottom: 15px;
}

.img-wrap img {
    width: 160px;
    height: 150px;
    display: table;
    margin: 0 auto;
    border-radius: 100%;
    border: 1px solid #b5b5b5;
    -webkit-box-shadow: 1px 4px 28px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 28px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 28px -10px rgba(0, 0, 0, 0.75);
}

.details-fac-list li {
    font-size: 14px;
    padding-top: 5px;
}

.fac-d {
    padding-top: 25px;
}

.fac-d-tabs {
    border-top: 1px solid #ddd;
}

.table-faculty {
    padding-top: 25px;
}

.table-faculty .table>thead>tr>th {
    background: #dcdcdc;
    font-size: 14px;
    font-weight: 600;
}

.table-faculty .table>tbody>tr>td {
    font-size: 14px;
}

.table-faculty .table>thead>tr>th,
.table-faculty .table>tbody>tr>td {
    width: 50%;
}

.div-details .content-faculty h5,
.div-details .content-faculty h4 {
    font-weight: 300;
}

.div-details .fac-sidebar ul li {
    padding: 8px 25px;
}

.h5-css {
    margin-bottom: 15px;
}

.h5-css i {
    color: #a51c30;
}

/*index2.php*/

.resrch-col-mob {
    display: none;
}

.in-banners {
    width: 100%;
    height: 250px;
}

.listing-div,
.listing-divs {
    padding-left: 20px !important;
}

.listing-div li {
    list-style-type: circle !important;
}

.listing-divs li {
    list-style-type: decimal;
}

/* .row-div ul{padding-left:25px;}
.row-div ul li{list-style-type:disc;} */

.img-divs img {
    width: 100%;
    height: 250px;
}

.tab-title {
    border-bottom: 1px solid #144196a6;
}

.tab-title h1,
.tab-title:before {
    margin-left: 15px;
}

.table-sec {
    padding: 10px;
}

.table-sec h3 {
    padding-bottom: 20px;
}

.table-class thead {
    background: #bfbfbf;
    color: #144196;
}

.table-class thead th {
    text-align: center;
}

.research-row .tr-content {
    background: #fff;
}

.img-about {
    margin-top: -6px;
}

#myInput::placeholder {
    font-size: 14px;
}

#myInput {
    padding-left: 10px;
}

/* .img-about{height:300px;} */

.table-custom td {
    font-weight: 500;
    font-size: 14px;
}

.table-custom>tbody>tr:last-child {
    background: none;
}

.address-footer p label {
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.address-footer p {
    color: #4c4c4c;
    font-size: 14px;
}

.entry-meta ul {
    margin-top: 5px;
}

.entry-meta ul li {
    font-size: 15px;
    color: #000;
    list-style-type: disc;
    margin-bottom: 5px;
    list-style-type: disc !important;
}

.adjunct img {
    width: 100%;
    height: 230px;
}

/*22-01*/

.text {
    text-align: left !important;
}

.staff-row img {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 155px !important;
}

.aca-table tr:first-child td p span {
    color: #144196 !important;
}

.aca-table td {
    padding: 10px !important;
}

/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding-top: 80px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.login-sec .button-sub {
    margin-top: 25px !important;
}

.login-sec img {
    width: 100%;
}

.login-sec .first {
    margin-bottom: 25px;
}

.login-sec input[type=button],
.login-sec input[type=submit],
.login-sec input[type=reset] {
    background-color: #144196;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 3px 18px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 3px 18px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login-sec input[type=button]:hover,
.login-sec input[type=submit]:hover,
.login-sec input[type=reset]:hover {
    background-color: #144196;
}

.login-sec input[type=button]:active,
.login-sec input[type=submit]:active,
.login-sec input[type=reset]:active,
.login-sec select:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.login-sec input[type=text],
.login-sec select,
.login-sec input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    /*text-align: center;*/
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.login-sec input[type=text]:focus,
.login-sec input[type=password]:focus,
.login-sec select:focus {
    background-color: #fff;
    border-bottom: 2px solid #144196;
}

.login-sec input[type=text]::placeholder,
.login-sec input[type=password]::placeholder {
    color: #000;
}

.login-sec input,
.login-sec select {
    outline: none !important;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

.desc-faculty ul {
    padding: 15px;
    margin: 0;
}

.desc-faculty ul li {
    list-style-type: disc;
}

.desc-faculty ol {
    padding: 15px;
    margin: 0;
}

.desc-faculty ol li {
    list-style-type: decimal;
}

/*responsive*/

@media screen and (min-width:1280px) {
    .main-wrapper {
        min-height: 100vh;
    }
    .logo {
        position: relative;
        width: 1000px;
        height: 64px;
        margin-top: 10px;
    }
    .staff-row img {
        height: 225px !important;
    }
}

@media screen and (max-width:1024px) {
    .index2 .navbar-collapse {
        margin: 0 28px 0 0;
    }
    .index2 .tr-topbar .navbar-nav>li>a {
        padding: 0 5px;
        line-height: 45px;
        margin-left: 0px;
        font-size: 13px;
    }
    /* .navbar-toggle{display:block} */
    /* .index2 #navbar-collapse {
        margin: 0px;
        height: 300px;}
        .navbar-toggle {
            position: relative;
            float: right;
            padding: 9px 10px;
            margin-top: 8px;
            margin-right: 15px;
            margin-bottom: 8px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .navbar-header{width:100%;} */
}

@media screen and (max-width:992px) {
    .lateral-padding {
        margin-top: 85px
    }
    .logo {
        margin-top: 0;
        height: 65px;
        padding: 0
    }
    .header-button {
        padding: 0;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 0;
    }
    .navbar-toggle {
        display: block !important
    }
    .tr-topbar {
        overflow: hidden;
    }
    .navbar-nav>li {
        float: none !important;
    }
    .navbar-collapse {
        overflow-x: hidden;
    }
    /* .navbar-collapse.collapse{display: block !important ; height:auto !important} */
    .dropdown li {
        display: none
    }
    .index2 .tr-topbar .navbar-nav>li>a {
        line-height: 40px;
    }
    .index2 .tr-topbar .navbar-nav .sub-menu,
    .sub-menu-2 {
        min-width: 97%;
    }
    ul.sub-menu {
        position: relative;
    }
    .navbar-left {
        width: 100%;
        text-align: left;
        padding-left: 45px !important;
    }
    .local-events {
        margin-top: 25px;
    }
    .img-about {
        height: 200px;
    }
    .table {
        overflow: scroll;
        display: block;
    }
    .resrch-col-mob {
        display: block;
    }
    .dropdown:hover li {
        display: block
    }
    .navbar-collapse.collapse {
        height: 0 !important
    }
    .navbar-collapse.collapse.in {
        height: auto !important
    }
}

@media screen and (max-width:768px) {
    .logo {
        height: 75px;
        width: 100%;
        margin: 0;
        padding: 0
    }
    .lateral-padding {
        margin-top: 75px;
    }
    .tr-section {
        padding: 10px
    }
    .navbar-nav>li {
        float: none !important;
    }
    .dropdown li {
        display: none
    }
    h3 {
        font-size: 18px;
        margin: 0 0 10px 0
    }
    p {
        font-size: 14px;
        margin: 0 0 5px;
        line-height: 20px
    }
    .title-before:before {
        height: 12px
    }
    .section-title.title-before h1 {
        font-size: 14px;
        margin: 10px 0;
    }
    .section-title.title-before {
        margin-top: 10px
    }
    .myclass {
        padding: 10px 14px !important;
        font-size: 14px !important;
    }
    .tr-twitter {
        padding: 30px 20px 90px;
    }
    .tr-breaking-news {
        padding: 0px 0 20px 0 !important;
        margin: 10px;
    }
    .tr-breaking-news .title h1 {
        font-size: 18px;
        padding-bottom: 5px;
    }
    .tr-breaking-news .post-content {
        margin-bottom: 10px;
    }
    .tr-breaking-news .entry-title {
        font-size: 14px !important;
    }
    .tr-breaking-news .gallery-turner {
        right: 0;
        top: -6px
    }
    .footer-bottom address {
        margin-top: 5px;
    }
    .fac-sidebar {
        padding: 5px 0px !important;
    }
    .fac-sidebar ul li {
        padding: 5px 25px;
    }
    .sidebar-academic .tab-link i {
        top: 9px
    }
    .staff-row img {
        height: 120px !important;
    }
    #myInput {
        margin-bottom: 5px;
    }
}

@media screen and (max-width:480px) {
    .row-hod-head .pull-left,
    .row-hod-head .pull-right {
        float: none !important;
    }
    #footer-c {
        text-align: center;
    }
    .lateral-padding {
        margin-top: 50px
    }
    .logo {
        width: 260px;
        height: 60px
    }
    .navbar-brand>img {
        height: 60px
    }
}